# File: .gitignore
# Auth: M. Fras, Electronics Division, MPI for Physics, Munich
# Mod.: M. Fras, Electronics Division, MPI for Physics, Munich
# Date: 19 Feb 2025
# Rev.: 21 Jul 2025
#
# List of files to be ignored by git.
#

# This file itself.
#.gitignore

# Vi/Vim swap and backup files.
.*.swp
.*.swo
*~

# Other backup files.
*.bac
*.bak

# Compiled python files.
*.pyc
__pycache__/

# Compilation products of the MAGIC I AMC software.
/amc/*.o
/amc/amc
/amc/amcab

# Compilation products of the MAGIC II AMC software.
/amc2/*.o
/amc2/amc
/amc2/amcab
/amc2/amp
/amc2/amcap

# Log files of the MAGIC I AMC software.
/amc/AMC*.log
/amc/AMC*.logall

# Log files of the MAGIC II AMC software.
/amc2/AMC*.log
/amc2/AMC*.logall

# Compilation products of the SBIG software.
/sbig/*.o
/sbig/sbig2
/sbig/sbigab
/sbig/sbig_cmd
/sbig/sbigT

